* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


header {
  /* display: flex; */
  background-image: url(/img/brian-babb-XbwHrt87mQ0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;

}


#logo img {
  width: 7vw;
  height: 15vh;
}

#nav {
  margin: 0;
  padding: 0;
}

#ul-list {
  display: flex;
  text-decoration: none;
  margin: 0;
  margin-right: 10rem;
  gap: 3rem;
  justify-content: right;
  align-content: space-between;
  font-size: 18px;
}


.nav-item {
  text-decoration: none;
  color: white;

}

.nav-item:hover {
  cursor: pointer;
  transform: scale(1.2);
  overflow: hidden;
}

#header-text {
  margin-top: 2rem;
}


#header-text h1 {
  display: flex;
  margin-top: 6rem;
  margin-left: 4rem;
  margin-bottom: 0;
  font-family: 'Franklin Gothic', 'Arial', Arial, sans-serif;
  font-weight: bolder;
}


#header-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin: 2rem 3rem;
}

#icons2 {
  display: flex;
  margin: 4rem 4rem;
  gap: 6rem;
  padding: 0;
}

#icons2 img {
  /* transform: 50%; */
  display: flex;
  width: 20vw;
  height: 20vh;
  float: left;
  margin-right: 15px;
  object-fit: contain;
}

#icons2 h2 {
  display: flex;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#icons2 p {
  display: flex;
  margin-left: 5rem;
  margin-top: 0;
  padding: 0;
  color: rgb(55, 55, 56);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
#gall-text h5{
  align-content: center;
  justify-content: center;
  display: flex;
  color: rgb(245, 111, 22);
  font-family: 'Franklin', Arial, sans-serif;
  font-size: 14px;
  margin-top: 5rem;
  margin-bottom: 0.3rem;
}
#gall-text h1 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-family: 'Franklin', Arial, sans-serif;
}
#gall-text p {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-family: 'Franklin', Arial, sans-serif;
}
#img-gallery {
  margin: 0;
  padding: 0;
}
#gall-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 4rem;
}
#gall-1 img{
width: 42vw;
height: 60vh;
/* display: flex; */
margin-bottom: 2rem;
}

#gall-1 h5{
  display: flex;  
}
#gall-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 4rem;
}
#gall-2 img{
  width: 42vw;
  height: 60vh;
  /* display: flex; */
  margin-bottom: 2rem;
  margin-top: 2rem;
  }
  
  #gall-2 h5{
    display: flex;  
  }

  #gall-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
  }
  #gall-3 img{
    width: 42vw;
    height: 60vh;
    /* display: flex; */
    margin-bottom: 2rem;
    margin-top: 2rem;
    }
    
    #gall-3 h5{
      display: flex;  
    }
    #gall-4{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 15px;
      grid-row-gap: 0px;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-left: 2rem;
    }
    #gall-4 img{
      width: 29vw;
      height: 48vh;
      /* display: flex; */
      margin-bottom: 2rem;
      margin-top: 2rem;
      }
      
      #gall-4 h5{
        display: flex;  
      }

#project-sect {
  padding-bottom: 5rem;
}


#project-sect h5 {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  color: rgb(245, 111, 22);
}

#project-sect h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.para {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
#project-imgs {
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 30px;
margin-left: 7rem;
margin-top: 3rem;
align-content: center;
margin-bottom: 7rem;
}
#serv-sect h5 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  color: rgb(245, 111, 22);
}

#serv-sect h1 {
  display: flex;
  justify-content: center;
}


#Serv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin-top: 3rem;
  margin-left: 3rem;
}

#Serv img {
  display: flex;
  float: left;
  width: 5vw;
  height: 9vh;
  justify-content: right;
  margin: 4rem 0.6rem;
  padding-top: 0;
}

#Serv h2 {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 0.7rem;
}

#contacts {
  margin: 0;
  background-color: #F8F9FA;
}

#c-text h5 {
  align-content: center;
  justify-content: center;
  display: flex;
  color: rgb(245, 111, 22);
  font-family: 'Franklin', Arial, sans-serif;
  font-size: 14px;
  margin-top: 5rem;
  margin-bottom: 0.3rem;
}

#c-text h1 {
  align-content: center;
  justify-content: center;
  display: flex;
  font-family: 'Franklin', 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  padding-top: 0.4rem;
}

#c-text p {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

form {
  padding: 3rem 6rem;
  /* margin-left: 6rem; */
  background-color: white;
  margin: 1rem 6rem;
  margin-bottom: 8rem;
  border-radius: 5px;
}



input[type=text] {
  width: 85%;
  padding: 12px 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
}

.btn {
  padding: 1rem 2rem;
  background-color: rgb(245, 111, 22);
  color: white;
  border: none;
}

#contacts a {
  text-decoration: none;
  color: white;
  font-size: medium;
  border: none;
}

footer {
  background-color: #333333;
  color: white;
  padding:2rem 4rem;
  
}
footer input[type=text] {
  margin: 0;
  width: 32%;
  font-family: 'Franklin', Arial, sans-serif;
}

#abt-footer {
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
font-family: 'Franklin', Arial, sans-serif;
margin-left: 10rem;
}

#nav-footer {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
margin-top: 5rem;
margin-left: 10rem;
font-family: 'Franklin', Arial, sans-serif;
margin-bottom: 2.5rem;
}

#nf-icon {
  display: flex;
  justify-content: left;
  margin-top: 2.5rem;
  gap: 3rem;
}

#Co.right p{
display: flex;
margin-top: 3rem;
justify-content: center;
}
/* footer input [type=text] {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #333333;
} */
/* /* #fabt-news h2{
  display: flex;
  justify-content: right;
  margin-right: 4rem;
}

#fabt-news p{
  display: flex;
  justify-content: right;
}

footer input[type=text] {
  margin: 0;
  width: 18%;
  display: flex;
  border: none;
  justify-content: left;
}

.fabt-us h2 {
  font-family: 'Franklin', Arial, sans-serif;
  font-size: 18px;
  margin-top: 0.5rem;
  margin-left: 7rem;
  padding: 0;

} */

.fabt-us p {
  font-family: 'Franklin', Arial, sans-serif;
  font-weight: lighter;
  margin-left: 7rem;
  color: whitesmoke;
  /* margin: 0 7rem; */
}


#navi {
margin: 0;
margin-bottom: 2rem;
}
#navi h2 {
  margin-bottom: 1rem;
}
#npara p{
  display: flex;
gap: 1rem;
color: black;
}
#fbtn {
  padding: 0.8rem;
  background-color: rgb(245, 111, 22);
  border: none;
}

#fbtn a {
  margin: 0;
  padding: 0 0.6rem;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

#footercons h2{
  display: flex;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4rem;
}

#ifooter {
  display: flex;
  justify-content: left;
  margin-top: 2.5rem;
  gap: 3rem;

}

.copyRp p{
  margin-top: 6rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
} 